@import url('https://fonts.googleapis.com/css?family=Ropa+Sans|Russo+One&display=swap');


html {
    font-size: 62.5;
}
* {
    margin: 0;
    padding: 0;
}
.content_wrapper {
    display: flex;
    flex-direction: column;
}
/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    height: 5rem;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 50;
    background-color: #006699;
    justify-content: flex-end;    
}
.nav-link a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.5rem;
    font-family: 'Russo One', sans-serif;
    opacity: 0.7;
}
.nav-link:hover {
    transform: translateY(-5px);
}
.nav-link:hover a {
    opacity: 1;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-right: 1rem; 
}
.navbar li {
    margin-top: 1rem;
    padding: 1rem;
}
/* End of Navbar */
/* Welcome Section */
.welcome-section {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(-90deg, #00111a, #002233);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.welcome_header {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 5rem;
    color: #b3e6ff;
    animation: welcome_anim 5s;
}
.welcome_header2 {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.5rem;
    color: #b3e6ff;
    padding: 1rem;
    font-style: italic;
    animation: welcome_anim 5s 2s backwards;
}
@keyframes welcome_anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* End of Welcome Section */
/* Project Section */
.project-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 5rem 20rem 20rem 2rem; */
    grid-template-rows: 5rem 1fr 1fr 2rem;
    grid-gap: 2rem;
    background-image: linear-gradient(-90deg, #004466, #082f42);
    width: 100%;
    height: 100%;
}
.project_header {
    grid-column: 2 / 4;
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
    color: #FFF;
    padding: 3rem 0 5rem 0;
    text-align: center;
}
.project_box1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border-radius: .5rem;
    /* box-shadow: 5px 5px 6px 5px #888888; */
    /* width: 20rem;
    height: 30rem; */
}
.project_box2 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    border-radius: .5rem;
    /* box-shadow: 5px 5px 6px 5px #888888; */
    /* width: 20rem;
    height: 30rem; */
}
.project_box3 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    border-radius: .5rem;
    /* box-shadow: 5px 5px 6px 5px #888888; */
    /* width: 20rem;
    height: 30rem; */
}
.project_box4 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    border-radius: .5rem;
    /* box-shadow: 5px 5px 6px 5px #888888; */
    /* width: 20rem;
    height: 30rem; */
}
.project_img {
    display: block;
    width: 100%;
    border-radius: .5rem .5rem 0 0;
    opacity: 0.7;
}
.project_img:hover {
    opacity: 1;
}
.link_box {
    background-color: #2b313d;
    border-radius: 0 0 .5rem .5rem;
    font-family: 'Russo One', sans-serif;
    font-size: 1.3rem;
    padding: 0.7rem;
    text-align: center;
}
.link_box a {
    text-decoration: none;
    color: #60638a;
}
.link_box:hover a {
    color: #bbc5da;
}
/* End of Project Section */

/* Contact Section */
.contact_section {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(-90deg, #00111a, #002233);
    width: 100%;
    height: 18rem;
    /* justify-content: center; */
    align-items: center;
}
.contact_header {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 3rem;
    color: #b3e6ff;
    margin-top: 4rem;
}
.contact_img1{
    height: 6rem;
    width: 6rem;
    opacity: 0.7;
}
.contact_img2 {
    height: 7rem;
    width: 7rem;
    opacity: 0.7;
}
.contact_img1:hover {
    opacity: 1;
}
.contact_img2:hover {
    opacity: 1;
}
/* End of Contact Section */
/* Footer Section */
.footer_section {
    background-image: linear-gradient(-90deg, #004466, #082f42);
    width: 100%;
    height: 100%;
    text-align: right;
}
.footer_section h2 {
    color: #b3e6ff;
    font-size: 0.8rem;
    padding: 1.2rem;
}
/* End of Footer Section */
/* Media Querys */
@media only screen and (max-width: 1114px) {
    .nav-link a {
        font-size: 1.3rem;
    }
    .welcome_header {
        font-size: 4rem;
    }
    .welcome_paragraph {
        font-size: 1rem;
    }
    .project_header {
        font-size: 1.1rem;
    }
    .link_box {
        font-size: 1rem;
    }
    .contact_header {
        font-size: 2.2rem;
    }
}
@media only screen and (max-width: 600px) {
    .navbar {
        height: 4rem;
        align-items: center;
        justify-content: center;
    }
    .navbar li {
        margin-top: 0rem;
        padding: 1rem;
    }
    .nav-link a {
        font-size: 1.1rem;
    }
    .welcome_header {
        font-size: 3rem;
    }
    .welcome_paragraph {
        font-size: .5rem;
    }
    .project_header {
        font-size: 1.2rem;
    }
    .link_box {
        font-size: 1rem;
    }
    .contact_section {
        height: 14rem;
    }
    .contact_header {
        font-size: 1.8rem;
    }
    .contact_img1{
        height: 4rem;
        width: 4rem;
    }
    .contact_img2 {
        height: 5rem;
        width: 5rem;
    }
}
@media only screen and (max-width: 500px) {
    .navbar {
        height: 3rem;
        align-items: center;
        justify-content: center;
    }
    .navbar li {
        margin-top: 0rem;
        padding: 1rem;
    }
    .nav-link a {
        font-size: 1.1rem;
    }
    .welcome_header {
        font-size: 2.5rem;
    }
    .welcome_paragraph {
        font-size: .5rem;
    }
    .project_header {
        font-size: .8rem;
        padding-bottom: 1rem;
    }
    .link_box {
        font-size: .5rem;
    }
    .contact_section {
        height: 10rem;
    }
    .contact_header {
        margin-top: 2rem;
        font-size: 1.0rem;
    }
    .contact_img1{
        height: 3rem;
        width: 3rem;
    }
    .contact_img2 {
        height: 4rem;
        width: 4rem;
    }
}
/* End of Media Querys */